/**
 * @author Mathieu FLICK / Thibault Jamin
 * @desc Alumn'IFA
 */

:root {
    --color-theme: #282828;
}

.navbar {
    background-color: var(--color-theme);
}

.navbar .navbar-brand {
    width: 200px;
}

.navbar .navbar-brand img {
    width: 100%;
    height: auto;
}

.navbar #navbar-menu {
    margin-left: 150px;
}

.navbar .navbar-nav .nav-item {
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--white);
    font-size: 16px;
    transition: all ease-in-out .2s;
}

.navbar .navbar-nav .nav-item.active .nav-link {
    color: #f47801;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #f47801;
}

.wrapper {
    padding: 25px;
}

.footer {
    background-color: var(--color-theme);
    display: flex;
    align-items: center;
    padding: 25px;
}

.footer .footer-brand {
    flex: 1;
}

.footer .footer-brand img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.footer .footer-content .footer-address {
    color: var(--white);
    font-size: 14px;
}

.footer .footer-content .footer-address ul {
    list-style: none;
    padding-left: 0;
}

.footer .footer-content .footer-links {
    min-width: 200px;
    color: var(--white);
    font-size: 14px;
}

.footer .footer-content .footer-links ul {
    list-style: none;
    padding-left: 0;
}

.btn-ifa {
    color: #fff;
    background-color: #f47801;
    border-color: #f47801;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}
