/**
 * @author Mathieu FLICK / Thibault Jamin
 * @desc Alumn'IFA
 */

:root {
    --color-theme: #282828;
}

.navbar {
    background-color: var(--color-theme);
}

.navbar .navbar-brand {
    width: 200px;
}

.navbar .navbar-brand img {
    width: 100%;
    height: auto;
}

.navbar #navbar-menu {
    margin-left: 150px;
}

.navbar .navbar-nav .nav-item {
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--white);
    font-size: 16px;
    transition: all ease-in-out .2s;
}

.navbar .navbar-nav .nav-item.active .nav-link {
    color: #f47801;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #f47801;
}

.wrapper {
    padding: 25px;
}

.footer {
    background-color: var(--color-theme);
    display: flex;
    align-items: center;
    padding: 25px;
}

.footer .footer-brand {
    flex: 1;
}

.footer .footer-brand img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.footer .footer-content .footer-address {
    color: var(--white);
    font-size: 14px;
}

.footer .footer-content .footer-address ul {
    list-style: none;
    padding-left: 0;
}

.footer .footer-content .footer-links {
    min-width: 200px;
    color: var(--white);
    font-size: 14px;
}

.footer .footer-content .footer-links ul {
    list-style: none;
    padding-left: 0;
}

.btn-ifa {
    color: #fff;
    background-color: #f47801;
    border-color: #f47801;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

/* Component - Snackbar */
.snackbars {
    position: fixed;
    width: 0;
    height: 0;
    left: 15px;
    bottom: 20px;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 1030;
}

.snackbars .snackbar {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    background: #2a2a2a;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    transform-origin: center;
    color: #eee;
    cursor: default;
    will-change: transform;
    animation: snackbar-show 300ms ease forwards 1;
}

.snackbars[aria-hidden=true] {
    -webkit-animation: snackbar-hide 300ms ease forwards 1;
    animation: snackbar-hide 300ms ease forwards 1;
}

.snackbars .snackbar--text {
    flex: 1 1 auto;
    padding: 16px;
    font-size: 100%;
}

.snackbars .snackbar--button {
    position: relative;
    flex: 0 1 auto;
    padding: 8px;
    height: 36px;
    margin: auto 8px auto -8px;
    min-width: 7em;
    background: none;
    border: none;
    border-radius: 3px;
    color: orange;
    font-weight: inherit;
    letter-spacing: 0.05em;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 200ms ease;
    outline: none;
    transition: all ease 0.2s;
}

.snackbars .snackbar--button:hover {
    text-shadow: 0px 0px 7px orange;
}

.snackbars .snackbar--button:focus:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120%;
    height: 0;
    padding: 0 0 120%;
    margin: -60% 0 0 -60%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    -webkit-transform-origin: center;
    transform-origin: center;
    will-change: transform;
    -webkit-animation: focus-ring 300ms ease-out forwards 1;
    animation: focus-ring 300ms ease-out forwards 1;
    pointer-events: none;
}

@keyframes snackbar-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@keyframes snackbar-hide {
    to {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes focus-ring {
    from {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
}
